<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://www.gorillatshirts.co.uk//image/cache/data/template01/black/2581-192x192.jpg">
    <!-- Add manifest -->
    <link rel="manifest" href="manifest.json">
    <!-- Tell the browser it's a PWA -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Tell iOS it's a PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Make sure theme-color is defined -->
    <meta name="theme-color" content="#536878">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boilerplate</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
      //<![CDATA[
      // window.webpackManifest = {"0":"main.3d038f325b02fdee5724.js","1":"1.c4116058de00860e5aa8.js"}
      //]]>
      </script>
  </head>
  <body>
    <div id="content">
    </div>
  <script type="text/javascript">
  var notify;

  Notification.requestPermission().then(function(p) {
    if(p==='denied'){
      console.log('You have Denied Notifications.');
    }else if(p==='granted'){
        console.log('You have granted Notifications.');
        notify =  new Notification('Welcome to Clipper',{
        body:'lorem ipsum lorem ipsum',
          icon: 'http://www.gorillatshirts.co.uk//image/cache/data/template01/black/2581-192x192.jpg',
        tag: 'Notification'
      });
    }
  });

  if(Notification.permission==='default'){
    alert('please allow Notifications');
  } else {
    notify = new Notification('Joker Says',{
      body: 'HA HA HA Ha',
      icon: 'http://www.gorillatshirts.co.uk//image/cache/data/template01/black/2581-192x192.jpg',
      tag: 'Notification'
    });
    setTimeout(notify.close.bind(notify), 4000);
  }

  </script>
    
    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-11112222-2', 'auto');
    </script>
    <script>

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
        
        var newWorker = registration.installing;
        
        if(document.querySelector(".offline-ready") && newWorker.onstatechange){
          // statechange fires every time the ServiceWorker.state changes
          newWorker.onstatechange = function() {
            // show the message on activation
            if (newWorker.state == 'activated' && !navigator.serviceWorker.controller) {
              document.querySelector(".offline-ready").classList.add("active");
            }
          };
        }
      }).catch(function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    }
     
    </script>
  </body>
</html>





